@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Roboto:wght@500&display=swap');

.navbar{
    background-color: #5D3587;
}

.links{
    font-size: 20px;
    color:white;
}

.nav-item,.d-flex{
    margin-left:30px;
}


.logo{
    font-size:40px;
    color:white;
    margin-right:90px;
}

.btn,.btn:hover{
  background-color: white;
  color:#5D3587;
}

.logout{
    margin-left:10px;
    background-color: #5D3587;
    color:white;
}
.logout:hover,.logout:focus{
    
    background-color: white;
    color:#5D3587;
   
}

.decor{
    color:#5D3587;
    box-shadow: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
    padding-top:30px;
    width:500px;
}
.box{
    vertical-align: middle;
    justify-content: center;
   
}
.tasks{
    border-radius: 30px;
    background-color:white;
    text-align: center;
    height:35px; 
    color:white;
    box-shadow: 2px 2px 30px 8px #5D3587;
    font-size: 22px;
    cursor:pointer;
 }

 .button{
    justify-content: center;
    text-align: right;
    margin-top:10px;
    margin-bottom:20px;
    margin-right:200px;
 }

 .add{
    background-color: yellow;
    width:100px;
    margin-right:5px;  
    color:black;
 }

 .done{
    margin-right:5px;
    background-color:green;
    color:black;

 }
 .remove{
    margin-right:5px;
    background-color: red;
    color:black;
 }

 .add:hover,.done:hover,.remove:hover{
    color:black;
 }

 .checker{
    cursor:pointer;
 }



 

